* {
    border: red 1px solid;
}

html, body {
    background-color: #78d0d1;
    height: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif; 
}

header {
    display: flex;
    color: #ffffff;
    background-color: #176163;
    padding: 10px;
    align-items: center;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
    justify-content: space-between; 
    margin-bottom: 30px;
}

header img {
    max-width: 40px;
    height: auto;
}

header h1 {
    font-size: 1.5rem;
    text-align: left; 
    margin: 0; 
}

#main-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none; 
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
}

#main-menu li {
    display: inline; 
}

#main-menu a {
    display: block;
    padding: 5px 13px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav a:hover {
    transform: scale(1.5);
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

h3 {
    color: #176163;
    font-family: 'Merriweather Sans', 'Helvetica', sans-serif;
}

#perfil {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 60px;
    background-color: #c8fdff;
    margin-bottom: 40px;  /* Ajusta el margen inferior */
    max-width: 1400px;
    margin-left: 20px;    /* Añadir margen izquierdo */
    margin-right: 20px;   /* Añadir margen derecho */
    border-radius: 50px;
    margin-top: 40px;  /* Mantén solo el margen superior */
}

#perfil img {
    width: 400px; 
    height: 400px; 
    border-radius: 50%;
    margin-right: 55px; 
    border: 10px dashed #176163; 
    padding: 10px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
}

#perfil div {
    display: flex;
    flex-direction: column;

    padding: 40px;
    border-radius: 20px;
    flex-grow: 1;
    min-width: 500px;
    max-width: 800px;
}

#perfil h2 {
    align-self: center;
    font-size: 70px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px; 
    border-radius: 20px; 
    display: inline-block; 
    background-color: #176163; 
}

#perfil p {
    text-align: justify;
    line-height: 1;
    font-size: 23px;
    color:  #176163;;
    margin: 10px 0 0 0;
}

#educacion {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 60px;
    background-color: #c8fdff;
    margin-bottom: 40px;  /* Ajusta el margen inferior */
    max-width: 1400px;
    margin-left: 20px;    /* Añadir margen izquierdo */
    margin-right: 20px;   /* Añadir margen derecho */
    border-radius: 50px;
    margin-top: 40px;  /* Mantén solo el margen superior */
}
#educacion div {
    display: flex;
    flex-direction: column;
    text-align: center; 
    width: 60%; 
}

#educacion h2, #educacion h3, #educacion p {
    margin: 0; 
}

#educacion h2 {
    font-size: 70px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px; 
    border-radius: 20px; 
    display: inline-block; 
    background-color: #176163; 
}

#educacion h3 {
    font-size: 40px;
    color: #176163;
}

#educacion li {
    display: inline; 
}

#educacion p {
    text-align: center;
    line-height: 1.5;
    font-size: 25px;
    color: #176163;
    margin: 0px 0 0 0;
}
#descripcion {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 60px;
    margin-bottom: 40px;  
    max-width: 1400px;
    margin-left: 20px;  
    margin-right: 20px;   
    margin-top: 40px;
    background-color: #c8fdff; /* Fondo similar a educación */
    border-radius: 20px; /* Fondo redondeado */
}

#descripcion h2 {
    font-size: 50px; /* Título más pequeño */
    color: #176163; /* Mismo color que el header */
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0; 
    display: inline-block; 
    border-bottom: 4px solid #176163; /* Línea divisoria más gruesa */
    border-radius: 0; /* Asegura que no tenga bordes redondeados */
}

#descripcion p {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    color: #176163;
    margin: 10px 0 0 0;
}

#descripcion a {
    font-family: 'Lora', 'Helvetica', sans-serif;
    color: #176163;
    text-decoration: none;
    font-size: 25px;
    margin: 25px 0 0 0;
}


#educacion img {
    width: 400px;
    border-radius: 50%;
    border: 10px dashed #176163;
    padding: 10px;
    position: relative;
    right: -50px; 
}

#educacion a {
    font-family: 'Lora', 'Helvetica', sans-serif;
    color: #176163;
    text-decoration: none;
    font-size: 25px;
    margin: 25px 0 0 0;
}

/* Estilo para los enlaces dentro de los recuadros de educación */
.educacion-link {
    text-decoration: none; /* Eliminar subrayado */
    color: inherit; /* Heredar color del contenedor */
}

/* Añadir un efecto hover al pasar el ratón sobre la sección */
.educacion-link:hover {
    transform: scale(1.05); /* Agrandar ligeramente el recuadro al pasar el ratón */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Añadir sombra sutil */
}


section {
    background-color: #c8fdff;
    border-radius: 2%;
    margin: 10px;
    margin-bottom: 40px; 
    padding: 40px;
}

h2 {
    color: #176163;
    font-size: 30px;
    font-family: 'Bebas Neue', 'Helvetica', sans-serif;
}

p {
    font-family: 'Lora', 'Helvetica', sans-serif;
}

/* Estilo para el recuadro del título */
#exp_academica h2 {
    display: inline-block; /* Hace que el recuadro se ajuste al texto */
    background-color: #176163; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centra el texto dentro del recuadro */
}


.proyectos h2{
    color: #176163;
    font-size: 30px;
    font-family: 'Bebas Neue', 'Helvetica', sans-serif;
}
.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

/* Eliminar el estilo de enlace en los recuadros */
a.proyecto {
    text-decoration: none; /* Eliminar el subrayado */
    color: inherit; /* Mantener el color del texto sin cambiar a azul */
}

.proyecto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #BBDEFB;
}

/* Para evitar que los recuadros se vean como enlaces, mantenerlos con su estilo original */
a.proyecto:focus,
a.proyecto:active {
    outline: none; /* Eliminar el contorno cuando el enlace es clickeado o está en foco */
}


.proyecto {
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #176163;
    border-radius: 8px;
    background-color: #c8fdff;
    transition: transform 0.3s ease;
}
.proyecto li{
    text-align: left;
}
.proyecto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #BBDEFB;
}

.proyecto-img, .proyecto-img2 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.proyecto-img {
    max-width: 200px;
    margin: 0 auto;
    border: 2px solid #4A90E2;
}

.proyecto-img2 {
    max-width: 350px;
    margin: 0 auto;
    border: 2px solid #4A90E2;
}

@media (max-width: 768px) {
    .proyecto {
        flex: 1 1 100%;
    }

    .proyecto-img, .proyecto-img2 {
        max-width: 100%;
    }
}


#contacto {
    display: flex;
    padding: 20px;
    color: #ffffff;
    background-color: #176163;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
