* {
    border: red 1px solid;
}

html, body {
    background-color:#b6e6e7;
    height: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif; 
}

header {
    display: flex;
    color: #ffffff;
    background-color: #1f6c6f;
    padding: 10px;
    align-items: center;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
    justify-content: space-between; 
    margin-bottom: 30px;
}

header img {
    max-width: 40px;
    height: auto;
}

header h1 {
    font-size: 1.5rem;
    text-align: left; 
    margin: 0; 
}

#main-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none; 
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
}

#main-menu li {
    display: inline; 
}

#main-menu a {
    display: block;
    padding: 5px 13px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav a:hover {
    transform: scale(1.5);
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

h3 {
    color: #1f6c6f;
    font-family:'Merriweather Sans', 'Helvetica', sans-serif;
}
#perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: transparent; 
    margin-bottom: 50px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 50px;
    margin-top: 40px;
    max-width: 100%;
    box-sizing: border-box;
}

#perfil img {
    width: 400px; 
    height: 400px; 
    border-radius: 50%;
    margin-right: 55px; 
    border: 10px dashed #1f6c6f; 
    padding: 10px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
}

#perfil div {
    display: flex;
    flex-direction: column;
    background-color: #1f6c6f;
    padding: 40px;
    border-radius: 20px;
    flex-grow: 1;
    min-width: 500px;
    max-width: 800px;
}

#perfil h2 {
    align-self: center;
    font-size: 70px;
    color: #ffffff;
    margin: 0;
}

#perfil p {
    text-align: justify;
    line-height: 1;
    font-size: 23px;
    color: #ffffff;
    margin: 10px 0 0 0;
}

#educacion {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 60px;
    background-color: #ffffff;
    margin-bottom: 40px;  /* Ajusta el margen inferior */
    max-width: 1400px;
    margin-left: 20px;    /* Añadir margen izquierdo */
    margin-right: 20px;   /* Añadir margen derecho */
    border-radius: 50px;
    margin-top: 40px;  /* Mantén solo el margen superior */
}
#educacion div {
    display: flex;
    flex-direction: column;
    text-align: center; 
    width: 60%; 
}

#educacion h2, #educacion h3, #educacion p {
    margin: 0; 
}

#educacion h2 {
    font-size: 70px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px; 
    border-radius: 20px; 
    display: inline-block; 
    background-color: #1f6c6f; 
}

#educacion h3 {
    font-size: 40px;
    color: #1f6c6f;
}

#educacion li {
    display: inline; 
}

#educacion p {
    text-align: center;
    line-height: 1.5;
    font-size: 25px;
    color: #1f6c6f;
    margin: 0px 0 0 0;
}

#educacion img {
    width: 400px;
    border-radius: 50%;
    border: 10px dashed #1f6c6f;
    padding: 10px;
    position: relative;
    right: -50px; 
}

#educacion a {
    font-family: 'Lora', 'Helvetica', sans-serif;
    color: #1f6c6f;
    text-decoration: none;
    font-size: 25px;
    margin: 25px 0 0 0;
}

section {
    background-color: #ffffff;
    margin: 10px;
    margin-bottom: 40px; 
    padding: 40px;
}

h2 {
    color: #1f6c6f;
    font-size: 30px;
    font-family: 'Bebas Neue', 'Helvetica', sans-serif;
}

p {
    font-family: 'Lora', 'Helvetica', sans-serif;
}

#contacto {
    display: flex;
    padding: 20px;
    color: #ffffff;
    background-color: #1f6c6f;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
