* {
    border: red 1px solid;
}

html, body {
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif; 
}

header {
    display: flex;
    color: #ffffff;
    background-color: #109498;
    padding: 15px;
    align-items: center;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
    justify-content: space-between; 
}

header img {
    max-width: 100px;
    height: auto;
}

header h1 {
    font-size: 2rem;
    text-align: left; 
    margin: 0; 
}

#main-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none; 
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
}

#main-menu li {
    display: inline; 
}

#main-menu a {
    display: block;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

h3 {
    color: #109498;
    font-family: 'Libre Baskerville', serif;
}

section {
    margin-bottom: 20px; 
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    margin-bottom: 30px; 
}

#contacto {
        display: flex;
        padding: 20px;
        color: #ffffff;
        background-color: #109498;
        font-size: 13px;
        box-sizing: border-box;
        width: 100%;
        margin-top: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
